<li id="post-<%= post._id %>">
    <div class="post-top">
       <div class="dp">
        <img src="<%= post.user.avatar %>" alt="<%= post.user.name %>">
       </div>
       <div class="post-info">
           <p class="name"><%= post.user.name  %></p>
           <span class="time"><%= post.user.createdAt  %></span>
       </div>
       <i class="fas fa-ellipsis-h"></i>
   </div> 

    <!-- post content -->
   <div class="post-content">
    <% if((locals.user) && (locals.user.id == post.user.id) ){ %>
        <small>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
        </small>
        <% } %>
       <%= post.content %>
   </div>

   <!-- post bottom  -->
   <div class="post-bottom">
       <div class="action">
           <i class="far fa-thumbs-up"></i>
           <span>Like</span>
       </div>
       <div class="action post-comments">
           <i class="far fa-comment"></i>
           <span>Comment</span>
           <% if(locals.user) { %>
               <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="post">
                       <input type="text " name="content" placeholder="type here to add comment.." >
                       <input type="hidden" name="post" value="<%= post._id %>">
                       <input type="submit" value="Add Comment">
               </form>
               <% } %>

               <div class="post-comments-list">
                   <ul id="post-comments-<%= post._id %>">
                   <% for (comment of post.comments) { %>
                    <%- include('_comment') -%>
                       
                   <% } %>

                   </ul>
           </div>
       </div>
       <div class="action">
           <i class="fa fa-share"></i>
           <span>Share</span>
       </div>
   </div>

</li>

