<link rel="stylesheet" href="/css/home.css">

<h1>brainBook. <%= title %></h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="post">
                    <textarea name="content" cols="30" rows="3"placeholder = "type here..."></textarea>
                    <input type="submit" value="Post">
            </form>
    <% } %>

    <div id="Posts-list-container">
            <ul>
                <% for (post of posts) { %>
                    <li>
                        <% if((locals.user) && (locals.user.id == post.user.id) ){ %>
                        <small>
                            <a href="/posts/destroy/<%= post.id %>">X</a>
                        </small>
                        <% } %>
                        <%= post.content %>
                        <br>
                        <small><%= post.user.name  %></small>
                        <div class="post-comments">
                            <% if(locals.user) { %>
                                <form action="/comments/create" method="post">
                                        <input type="text " name="content" placeholder="type here to add comment.." >
                                        <input type="hidden" name="post" value="<%= post._id %>">
                                        <input type="submit" value="Add Comment">
                                </form>
                                <% } %>

                                <div class="post-comments-list">
                                        <ul id="post-comments-<%= post._id %>">
                                        <% for (comment of post.comments) { %>
                                            <p>
                                                <% if((locals.user) && (locals.user.id == comment.user.id) ){ %>
                                                    <small>
                                                        <a href="/comments/destroy/<%= comment.id %>">X</a>
                                                    </small>
                                                    <% } %>
                                            <%= comment.content %>
                                            <br>
                                            <small>
                                                    <%= comment.user.name %>
                                            </small>
                                            </p>
                                        <% } %>

                                        </ul>
                                </div>
                        </div>
                    </li>
                <% } %>
            </ul>
    </div>
</section>


<section id = "user-friends">
    <h4>
        friend
    </h4>
    <% for (u of all_users) {%>
        <p>
            <a href="/users/profile/<%= u.id %>"> <%= u.name %></a>
        </p>
    <% } %>



</section> 



 <!-- our bettterview        -->
 <div class="container">
<!-- right side of view having some important link -->
        <div class="left-panel">
            <%- include('_leftpanel') -%>
               
            </div>


            <!-- middle part having psot and create post -->
        <div class="middle-panel" >
                <div class="post create">
                <% if(locals.user) { %>
                    <%- include('_middlePanel') -%>
                    
                <% } %>
                </div>
            
                <!-- posts part -->
                <div class="post">
                    <ul>
                        <% for (post of posts) { %>  
                            <!-- including post part -->
                            <%- include('_post') -%>
                        <% } %>
                    </ul>   
                </div>
        </div>


        <!-- right panel -->
        <div class="right-panel">
            <%- include ('_rightAside') -%>
        </div>
 </div>

<script src="/js/home_posts.js"></script>
 